@model IEnumerable<TheWorld.Models.Trip>

@{ 
    ViewBag.Title = "Home page";
}


<div class="row">
    <div class="col-md-6 col-sm-4">
        <h1>The World</h1>
        <h2>Welcome to The World</h2>
        <p>Welcome to the website. You can view the trips by pressing the button below.</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-success">View my trips!</a>
    </div>
</div>